*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #222;
    color: white;
}

.header{
    width: 100%;
    border-bottom: 2px solid #32b9cd;
    height: 80px;
}

.container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100%;
    margin: auto;
}

.navbar{
    display: flex;
    list-style: none;
}

.navbar li{
    margin-right: 10px;
}

/* Banner */

.banner{
    height: 300px;
    background-image: url(imagens-Site-Inst-PI/tumblr_lxwvjoYZok1qm6msjo1_500.gif);
    box-shadow: -20px -20px 100px #000fdaf3;
    text-shadow: 0 0 5px #000fdaf3,
                 0 0 10px #0026ff,
                 0 0 20px #32b9cd,
                 0 0 30px #93c5ff,
                 0 0 40px #000fdaf3,
                 0 0 55px #000fdaf3,
                 0 0 70px #00c3ff;

}

.banner .container{
    justify-content: center;
}

.banner .container p{
    font-size: 36px;
    flex-direction: row;
}

.social{
    height: 400px;
    background-color: #222;
    padding: 20px 0;
}

.social .container .card{
    width: 200px;
    color: #e5e5e5;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 350px;
    justify-content: space-between;
}

.social .container .card img{
    width: 150px;
}

.social .container .card h4{
    font-size: 24px;
}